@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  background-color: transparent;
  position: fixed;
  height: 60px;
  width: 100%;
  z-index: 100;
  padding: 0 20px;
}
.header::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #b4b4b4;
  width: 100%;
  position: center;
  bottom: 0;
}
.nav {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}
.nav,
.nav_item {
  font-size: 23px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav_logo,
.nav_link,
.button {
  color: #fff;
}

.nav_logo img {
  display: block;
  height: 50px;
  width: auto;
}

.nav_item {
  column-gap: 30px;
}
.nav_link:hover {
  color: #e1811f;
}
.buttoncontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login-button,
.signup-button {
  padding: 8px 24px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  cursor: pointer;
  position: relative;
}
.login-button:hover,
.signup-button:hover {
  background-color: #e1811f;
}
/* Pseudo-element for vertical line */
.login-button::after {
  content: "";
  display: block;
  position: absolute;
  right: -18px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 1px;
  background-color: #b4b4b4;
}

/* Home */
.home {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("background.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
}

.line-1,
.create_team {
  margin-bottom: 0;
}

/* Buttons spacing */
.button-container-2 button {
  justify-content: space-between;
  margin: 0 10px;
}

/* Main title text */
.line-1 {
  font-size: 30px;
  color: #fff;
  margin-top: 120px;
  margin-bottom: 100px;
  margin-right: 76.5%;
  font-weight: bold;
}

/*Login-signup form*/

.home::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
.form_container {
  position: fixed;
  max-width: 380px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  font-size: 22px;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 22px;
  color: #0b0217;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.form_container p {
  font-size: 14px;
  color: #0b0217;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.name_input {
  display: flex;
  position: relative;
  flex: 1;
  width: 100%;
}
.input_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.input_box:first-child {
  margin-right: 10px;
}
.input_box {
  flex: 1;
  position: relative;
  margin-top: 10px;
  left: 20px;
  top: 10px;
  width: 90%;
  height: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #333;
  transition: all 0.2s ease;
  border: 1.5px solid #aaaaaa;
  border-radius: 4px;
}
.input_box input:focus {
  border-color: #e1811f;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #707070;
}
.input_box i.name,
.input_box i.email,
.input_box i.password {
  left: 0;
}
.input_box input:focus ~ i.name,
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #e1811f;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 18px;
  cursor: pointer;
  padding: 0 10px;
}
.option_field {
  margin-top: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form_container a {
  color: #e1811f;
  font-size: 12px;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  position: relative;
  left: 20px;
  top: 10px;
  display: flex;
  column-gap: 8px;
  white-space: nowrap;
}
.checkbox input {
  accent-color: #e1811f;
}
.checkbox label {
  font-size: 12px;
  cursor: pointer;
  user-select: none;
  color: #0b0217;
}
.forgot_pw {
  position: relative;
  left: -15px;
  top: 10px;
  display: flex;
}
.form_container .button {
  border-style: solid;
  border-radius: 6px;
  border-color: #fff;
  background: #343434;
  margin-top: 30px;
  width: 80%;
  padding: 10px 0;
  text-transform: uppercase;
  height: 44px;
  cursor: pointer;
}
.form_container .button:hover {
  background: #e1811f;
}
.go_back {
  position: relative;
  left: 140px;
  top: 10px;
  display: flex;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 14px;
}
.go_back:hover {
  text-decoration: underline;
  color: #e1811f;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
/*End of Login-signup form*/

.filter-button {
  width: 120px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.6);
  border: 0px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 20px;

  cursor: pointer;
  position: fixed;
  top: 120px;
  right: 290px;
  transition: background-color 0.3s;
}
.filter-button:hover {
  background-color: #e1811f;
}
.filter-button img {
  position: absolute;
  top: 7px;
  right: 22px;
}
/* Pseudo-element for vertical line */
.filter-button::after {
  content: "";
  display: block;
  position: absolute;
  right: -13px;
  top: 53%;
  transform: translateY(-50%);
  height: 27px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}
/* Button used to open the form */
.open-button {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
  padding: 8px 24px;
  cursor: pointer;
  position: fixed;
  top: 120px;
  right: 9%;
  transition: background-color 0.3s;
}
.open-button:hover {
  background-color: #e1811f;
}

.frame-icon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.div {
  position: relative;
  text-transform: uppercase;
  font-weight: 500;
}
.frame-parent {
  position: absolute;
  top: 98px;
  left: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.frame-icon1 {
  width: 14px;
  position: relative;
  height: 14px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-group {
  position: absolute;
  top: 98px;
  left: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.team-name {
  position: absolute;
  top: 20px;
  left: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #343434;
}
.shoot-hoops-dominate {
  position: absolute;
  top: 50px;
  left: 16px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #999;
  display: inline-block;
  width: 246px;
}
.details {
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #999;
  display: inline-block;
  width: 246px;
}
.view-more {
  position: relative;
  text-transform: uppercase;
  margin-top: 46%;
  margin-left: 5%;
  padding: 8px 24px;
  border: 1px solid #b4b4b4;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  cursor: pointer;
  background-color: #fff;
}
.view-more:hover {
  background-color: #e1811f;
  color: #fff;
}
.teamcard {
  width: 275px;
  position: relative;
  border-radius: 8px;
  background-color: #fff;
  height: 180px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: 14px;
  color: #333;
  font-family: Inter;
  margin-left: 9%;
  margin-top: -3%;
}

/* team card container */
.team-card-container {
  width: 82%;
  position: absolute;
  border-radius: 8px solid #000;
  background-color: transparent;
  overflow: hidden;
  flex-shrink: 0;
  text-align: left;
  font-size: 14px;
  color: #333;
  font-family: Inter;
  top: 170px;
  left: 109px;
  justify-content: center;
  align-items: center;
  height: auto;
  box-sizing: border-box;
  overflow-y: auto;
}
.team-cards {
  width: 280px;
  position: relative;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 190px;
  overflow: hidden;
  background-color: #fff;
  flex-shrink: 0;
  text-align: left;
  font-size: 14px;
  color: #333;
  font-family: Inter;
}
.team-title {
  position: absolute;
  top: 15px;
  left: 16px;
  font-size: 18px;
  font-weight: 600;
  color: #343434;
}
.shoot-hoops-dominate {
  position: absolute;
  top: 43px;
  left: 16px;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  color: #999;
  display: inline-block;
  width: 255px;
}
.view-more-button {
  padding: 10px 24px;
  position: relative;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid #999;
  margin-top: 8px;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  left: 16px;
  top: -65px;
  font-size: 13px;
}
.view-more-button:hover {
  background-color: #e1811f;
  color: #fff;
}

/*filter form*/

/* The popup form - hidden by default */
.form_heading {
  position: absolute;
  top: 40px;
  left: 40px;
  text-transform: uppercase;
}
.cross {
  left: 90%;
  top: 2%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  opacity: 0.7;
}
.inputbox {
  width: 320px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #999;
  box-sizing: border-box;
  height: 44px;
  color: #000;
  padding: 0 10px;
}
.team-name-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
  font-size: 14px;
  font-weight: bold;
}

.inputbox1 {
  width: 320px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #999;
  box-sizing: border-box;
  height: 128px;
  color: #000;
  padding: 10px 10px 0 10px;
  font-family: Inter;
}
.frame-parent {
  position: absolute;
  top: 89px;
  left: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  font-size: 14px;
}
.create {
  width: 200px;
  position: relative;
  height: 40px;
  text-transform: uppercase;
  left: 90px;
  top: 445px;
  background-color: #343434;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  cursor: pointer;
}
.create:hover {
  background-color: #e1811f;
}
.create_team_form {
  display: flex;
  width: 30%;
  position: absolute;
  border-radius: 8px;
  background-color: #fff;
  height: 520px;
  overflow: hidden;
  text-align: left;
  font-size: 24px;
  color: #333;
  font-family: Inter;
  top: -180px;
  left: 500px;
  background-color: #fefefe;
  margin: 18.3% auto;
  padding: 20px;
}
#createteamform {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* team's main frame */
.whole-frame {
  position: relative;
  width: 100%;
  height: 530px;
  background-color: transparent;
  overflow-y: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  top: -190px;
}
.main_frame {
  width: 61%;
  position: relative;
  border-radius: 12px;
  background-color: #fff;
  height: 864px;
  text-align: left;
  font-size: 16px;
  color: #333;
  font-family: Inter;
  top: -205px;
  left: 107px;
}
.team-name {
  position: absolute;
  top: 45px;
  left: calc(50% - 375px);
  font-size: 28px;
}
.team_description {
  position: absolute;
  top: 89px;
  left: calc(50% - 375px);
  line-height: 20px;
  text-transform: uppercase;
  color: #999;
  display: inline-block;
  width: 522px;
}
.team-details {
  position: absolute;
  top: 120px;
  left: calc(50% - 375px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  background-color: #fff;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}
.detail-one {
  display: flex;
  flex-direction: row;
}
.detail-two {
  display: flex;
  flex-direction: row;
}
.all_events {
  position: absolute;
  top: 190px;
  left: calc(50% - 375px);
  width: 893px;
  height: 35px;
  font-size: 18px;
  color: #e1811f;
}
.line {
  width: 80px;
  position: relative;
  background-color: #e1811f;
  height: 3px;
  background-color: #e1811f;
}
.events-container-frame {
  position: absolute;
  top: 223px;
  left: 10px;
  height: 641px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 0px 0px;
  box-sizing: border-box;
  gap: 20px;
  font-size: 14px;
  width: 790px;
  background-color: transparent;
}
.individual-event-frame {
  width: 780px;
  position: relative;
  border-radius: 8px;
  background-color: #eeeeee;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0;
}
.photo-frame {
  position: absolute;
  top: calc(50% - 50px);
  left: 0px;
  width: 178px;
  height: 100px;
  object-fit: cover;
}
.event-title {
  position: absolute;
  top: 15px;
  left: 198px;
  font-size: 16px;
  font-weight: 600;
  color: #343434;
}
.event-description {
  position: absolute;
  top: 38px;
  left: 198px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #999;
  display: inline-block;
  width: 401px;
}
.date-members-frame {
  position: absolute;
  top: 68px;
  left: 198px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  background-color: transparent;
}
.date-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  background-color: transparent;
}
.members-frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  background-color: transparent;
}
.button-small-frame {
  position: absolute;
  top: calc(50% + -10px);
  left: 520px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  background-color: transparent;
  width: 270px;
  padding: 14px;
}
.btn-view-more {
  width: 110px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #333;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  cursor: pointer;
}
.btn-view-more:hover {
  background-color: #e1811f;
  color: #fff;
}
.btn-register {
  width: 110px;
  border-radius: 4px;
  background-color: #333;
  border: 1px solid #333;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: #fff;
  cursor: pointer;
}
.btn-register:hover {
  background-color: #e1811f;
  color: #fff;
}
.filter-parent {
  position: absolute;
  top: 190px;
  left: 680px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4px 8px;
  gap: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  color: #333;
}

/* small container at side */
.team_leader_container {
  width: 20%;
  position: relative;
  border-radius: 16px;
  background-color: #fff;
  height: 257px;
  overflow: hidden;
  text-align: left;
  font-size: 16px;
  color: #333;
  font-family: Inter;
  left: 955px;
  top: 50px;
  background-color: #fff;
}
.container_title {
  position: absolute;
  top: 30px;
  left: calc(50% - 118.5px);
  font-size: 14px;
  color: #999;
}
.team_leader_name {
  position: absolute;
  top: 70px;
  left: calc(50% - 118.5px);
  font-size: 18px;
  font-weight: 600;
}
.leader_buttons_frame {
  position: absolute;
  top: 110px;
  left: calc(50% - 118.5px);
  border-radius: 4px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  width: 237px;
  height: 120px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
}
.send_message_btn {
  width: 200px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #333;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  color: #000;
  cursor: pointer;
  margin-bottom: 15px;
  font-family: Inter;
}
.send_message_btn:hover {
  background-color: #e1811f;
  color: #fff;
}
.request_join_btn {
  width: 200px;
  border-radius: 4px;
  background-color: #333333;
  border: 1px solid #333;
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 12px;
  color: #fff;
  cursor: pointer;
}
.request_join_btn:hover {
  background-color: #e1811f;
  color: #fff;
  font-family: Inter;
}
/* End of whole-frame */

/* team join popup */
.team_join_popup {
  width: 30%;
  position: relative;
  border-radius: 8px;
  background-color: #ccc;
  height: 220px;
  overflow: hidden;
  text-align: center;
  font-size: 24px;
  color: #333;
  font-family: Inter;
  z-index: 10;
  top: -55%;
  left: 30%;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
}
.team_join_popup img {
  position: absolute;
  top: 10px;
  left: 365px;
}
.heading-1 {
  position: absolute;
  top: 40px;
  left: calc(50% - 140px);
  text-transform: uppercase;
  font-size: 24px;
}
.heading-2 {
  position: absolute;
  top: 85px;
  left: calc(50% - 170px);
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  display: inline-block;
  width: 341px;
}
.done-button {
  position: absolute;
  top: 155px;
  left: calc(50% - 120px);
  border-radius: 4px;
  background-color: #343434;
  width: 240px;
  height: 44px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 32px;
  box-sizing: border-box;
  text-align: left;
  font-size: 16px;
  color: #fff;
}
/* End of team join popup */

/* Filter form */
.clear {
  position: relative;
  top: 0px;
  left: 0px;
}
.clear :hover {
  cursor: pointer;
}
.clear img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}

.clear-parent {
  position: absolute;
  top: 45px;
  right: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.filterbtn1 {
  flex: 1;
  border-radius: 4px;
  background-color: #ccc;
  border: none;
  box-sizing: border-box;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 120px;
  cursor: pointer;
}
.filterbtn1 :hover {
  background-color: #e1811f;
}
.filterbtn2 {
  flex: 1;
  border-radius: 4px;
  background-color: #ccc;
  border: none;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 120px;
  box-sizing: border-box;
  cursor: pointer;
}
.filterbtn2 :hover {
  background-color: #e1811f;
}

.team-parent1 {
  position: absolute;
  top: 54px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.heading1 {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.heading2 {
  position: absolute;
  top: 60px;
  left: 25px;
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.btn1 {
  flex: 1;
  border-radius: 4px;
  color: #fff;
  background-color: #333;
  border: 0.5px solid #333;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 50px;
  cursor: pointer;
}
.btn1 :hover {
  background-color: #e1811f;
}
.btn2 {
  flex: 1;
  border-radius: 4px;
  border: 0.5px solid #333;
  overflow: hidden;
  display: flex;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8px 50px;
  color: #333;
  cursor: pointer;
}
.btn2 :hover {
  background-color: #e1811f;
  color: #333;
}
.frame-for-btns {
  position: absolute;
  top: 142px;
  left: 40px;
  width: 176px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  color: #fff;
}
.frame-for-options {
  position: absolute;
  top: 80px;
  left: 25px;
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  color: #fff;
}
.lineabove {
  position: absolute;
  top: 126.75px;
  left: calc(50% - 130.25px);
  border-top: 0.5px solid #000;
  box-sizing: border-box;
  width: 260.5px;
  height: 0.5px;
  opacity: 0.1;
}
.filterform {
  width: 300px;
  position: relative;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #fff;
  height: 190px;
  overflow: hidden;
  text-align: left;
  font-size: 14px;
  color: #999;
  font-family: Inter;
  top: -95px;
  left: 765px;
}
.filtercross {
  position: absolute;
  top: 8px;
  right: 6px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 600;
  width: 25px;
  height: 25px;
  color: #333;
}
/* Filter form end */
